{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}" >
    <title>Document</title>
</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho__grupo">
            <a href="#" class="cabecalho__grupo__links" >Home</a>
            <a href="#" class="cabecalho__grupo__links" >Mechanics</a>
            <a href="#" class="cabecalho__grupo__links" >My Pokemon Team</a>
        </nav>
        <div class="cabecalho__busca">
            <div class="cabecalho__busca__fundo">
                <input class="busca__input" type="text" placeholder="Search">
            </div>
            <img src="{% static 'assets/linguagem.png' %}">
        </div>

    </header>
</body>
</html>