{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}" >
    <title>Document</title>
</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho__grupo">
            <a href="#" class="cabecalho__grupo__links" >Home</a>
            <a href="#" class="cabecalho__grupo__links" >Mechanics</a>
            <a href="#" class="cabecalho__grupo__links" >My Pokemon Team</a>
        </nav>
        <div class="cabecalho__busca">
            <div class="input-container">
                <input placeholder="Search" class="input-field" type="text">
                <label for="input-field" class="input-label">Search</label>
                <span class="input-highlight"></span>
              </div>
              <img src="{% static 'assets/linguagem.png' %}">
        </div>
    </header>
    <main>
        
    </main>
    <footer class="rodape">
        <p class="rodape__texto">Copyright © 2024 PokemonTeam | All rights reserved | Terms and conditions | Privacy Policy</p>
    </footer>
</body>
</html>