{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
    <main class="principal">
        <h1 class="principal__titulo">My Pokemon Team</h1>
        <div class="principal__grupo">
            <div class="principal__grupo__1">
                <a href="{% url 'pokemon' %}" class="principal__grupo__pokemon">
                    <div class="principal__grupo__pokemon__imagem">
                        <img src="{% static 'assets/pokemon.png' %}">
                    </div>
                    <p class="principal__grupo__nome">Infernape</p>
                </a>
                <a href="{% url 'pokemon' %}" class="principal__grupo__pokemon">
                    <div class="principal__grupo__pokemon__imagem">
                        <img src="{% static 'assets/pokemon.png' %}">
                    </div>
                    <p class="principal__grupo__nome">Infernape</p>
                </a>
                <a href="{% url 'pokemon' %}" class="principal__grupo__pokemon">
                    <div class="principal__grupo__pokemon__imagem">
                        <img src="{% static 'assets/pokemon.png' %}">
                    </div>
                    <p class="principal__grupo__nome">Infernape</p>
                </a>
            </div>  
            <div class="principal__grupo__1">
                <a href="{% url 'pokemon' %}" class="principal__grupo__pokemon">
                    <div class="principal__grupo__pokemon__imagem">
                        <img src="{% static 'assets/pokemon.png' %}">
                    </div>
                    <p class="principal__grupo__nome">Infernape</p>
                </a>
                <a href="{% url 'pokemon' %}" class="principal__grupo__pokemon">
                    <div class="principal__grupo__pokemon__imagem">
                        <img src="{% static 'assets/pokemon.png' %}">
                    </div>
                    <p class="principal__grupo__nome">Infernape</p>
                </a>
                <a href="{% url 'pokemon' %}" class="principal__grupo__pokemon">
                    <div class="principal__grupo__pokemon__imagem">
                        <img src="{% static 'assets/pokemon.png' %}">
                    </div>
                    <p class="principal__grupo__nome">Infernape</p>
                </a>
            </div>
        </div>
    </main>
{% endblock %}