{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
    <main class="principal__pokemon">
        <div class="pokemon__container">
            <div class="pokemon__container1">
                <div class="pokemon__container1__infos">
                    <p class="pokemon__nome">{{ pokemon.nome }}</p>
                    <div class="pokemon__infos">
                        <div class="pokemon__infos__altura" >Height:  {{ pokemon.altura }}m</div>
                        <div class="pokemon__infos__peso" >Weight: {{ pokemon.peso }}kg</div>
                    </div>
                </div>
                <p class="pokemon__titulo">{{ pokemon.titulo }}</p>
            </div>
            <div class="pokemon__container2">
                <p class="pokemon__descricao">{{ pokemon.descricao }}</p>
                <div class="pokemon__tipo">
                    <p class="tipo__titulo">Type</p>
                    <div class="tipo__container">
                        <div class="tipo__container__tipo1">
                            <p class="tipo1">{{ pokemon.tipo_primario }}</p>
                        </div>
                        <div class="tipo__container__tipo2">
                            <p class="tipo2">{{ pokemon.tipo_secundario }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="pokemon__container3">
            <div class="pokemon__stats">
                <p class="pokemon__stats__titulo">Base stats</p>
                <ul class="stats__lista">
                    <li>
                        <p class="stats__nome" >HP</p>
                        <p class="stats__valor">{{ pokemon.hp }}</p>
                    </li>
                    <li>
                        <p class="stats__nome">Attack</p>
                        <p class="stats__valor">{{ pokemon.ataque }}</p>
                    </li>
                    <li>
                        <p class="stats__nome">Defense</p>
                        <p class="stats__valor">{{ pokemon.defesa }}</p>
                    </li>
                    <li>
                        <p class="stats__nome">Sp. Atk</p>
                        <p class="stats__valor">{{ pokemon.sp_ataque }}</p>
                    </li>
                    <li>
                        <p class="stats__nome">Sp. Def</p>
                        <p class="stats__valor">{{ pokemon.sp_defesa }}</p>
                    </li>
                    <li>
                        <p class="stats__nome">Speed</p>
                        <p class="stats__valor">{{ pokemon.velocidade }}</p>
                    </li>
                    <hr>
                    <li>
                        <p class="stats__nome">Total</p>
                        <p class="stats__valor">{{ pokemon.stats_total }}</p>
                    </li>
                </ul>
            </div>
            <img src="{% static 'assets/pokemon_info.png' %}">
        </div>
        <div class="pokemon__container4">
            <p>Evolution Chart</p>
            <div class="pokemon__evolutionLine">
                <div class="pokemon__evolutionLine__individual" >
                    <img src="{% static 'assets/infernape_evolution.png' %}" >
                    <p class="pokemon__evolutionLine__name" >Infernape</p>
                </div>
                <img src="{% static 'assets/arrow.png' %}">
                <div class="pokemon__evolutionLine__individual" >
                    <img src="{% static 'assets/infernape_evolution.png' %}" >
                    <p class="pokemon__evolutionLine__name"> Infernape</p>
                </div>
                <img src="{% static 'assets/arrow.png' %}">
                <div class="pokemon__evolutionLine__individual" >
                    <img src="{% static 'assets/infernape_evolution.png' %}" >
                    <p class="pokemon__evolutionLine__name" >Infernape</p>
                </div>
                <img>
            </div>
        </div>
    </main>
{% endblock %}