{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
    <main class="principal__pokemon">
        <div class="pokemon__container">
            <div class="pokemon__container1">
                <div class="pokemon__container1__infos">
                    <p class="pokemon__nome">Infernape</p>
                    <div class="pokemon__infos">
                        <div class="pokemon__infos__altura" >Height: 1.2m</div>
                        <div class="pokemon__infos__peso" >Weight: 55kg</div>
                    </div>
                </div>
                <p class="pokemon__titulo">Flame pokemon</p>
            </div>
            <div class="pokemon__container2">
                <p class="pokemon__descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque luctus ex id massa convallis malesuada. Fusce convallis elit dolor, eget consectetur ligula finibus ut. Nulla tristique sapien et justo porttitor, id tempus sapien iaculis. Vivamus interdum lacus est, nec congue enim auctor vel. Vestibulum dapibus urna in egestas efficitur. Vestibulum bibendum imperdiet sem, at aliquet urna pharetra non. Maecenas luctus nulla lorem, in condimentum est laoreet vitae. Maecenas laoreet semper quam, a iaculis orci bibendum a. Aenean porttitor egestas arcu a sagittis.</p>
                <div class="pokemon__tipo">
                    <p class="tipo__titulo">Type</p>
                    <div class="tipo__container">
                        <div class="tipo__container__tipo1">
                            <p class="tipo1">Fire</p>
                        </div>
                        <div class="tipo__container__tipo2">
                            <p class="tipo2">Fighting</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}