{% load static %}
<header class="cabecalho">
    <nav class="cabecalho__grupo">
        <a href="#" class="cabecalho__grupo__links" >Home</a>
        <a href="#" class="cabecalho__grupo__links" >Mechanics</a>
        <a href="#" class="cabecalho__grupo__links" >My Pokemon Team</a>
    </nav>
    <div class="cabecalho__busca">
        <div class="input-container">
            <input placeholder="Search" class="input-field" type="text">
            <label for="input-field" class="input-label">Search</label>
            <span class="input-highlight"></span>
          </div>
          <img src="{% static 'assets/linguagem.png' %}">
    </div>
</header>