@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-de-fundo: #181818;
    --cor-secundaria: #262626;
    --cor-texto: #FFFFFF;
    --cor-container: #242526;

    --fonte-principal: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-texto);
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2.5rem 1rem 10rem;
}

.cabecalho__grupo{
    display: flex;
    gap: 1.5rem;
}

.cabecalho__grupo__links{
    text-decoration: none;
    color: var(--cor-texto);
}

.cabecalho__busca {
    display: flex;
    align-items: center;
    gap: 24px;
}

.input-container {
    position: relative;
    margin: 20px;
    display: flex;
  }
  
.input-field {
    width: 400px;
    height: 32px;
    box-sizing: border-box;
    padding: 4px 32px 4px 8px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid var(--cor-texto);
    outline: none;
    background-color: transparent;
    color: var(--cor-texto);
}
  
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}
  
.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--cor-secundaria);
    transition: all 0.3s ease;
}
  
.input-field:focus + .input-label {
    top: -20px;
    font-size: 12px;
    color: var(--cor-texto);
}
  
.input-field:focus + .input-label + .input-highlight {
    width: 100%;
}

.principal {
  margin: 4rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal__titulo {
  font-family: var(--fonte-principal);
  font-size: 60px;
  color: var(--cor-texto);
  padding: 0 45.18rem 3rem 0;
}

.principal__lista{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 60.75rem;
  height: 41.625rem;
  list-style-type: none;

}

.principal__grupo__1 {
  display: flex;
  gap: 6rem;
}

.principal__grupo__pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.principal__grupo__pokemon__imagem {
  background-color: var(--cor-secundaria);
  height: 260px;
  width: 260px;
  border-radius: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.principal__grupo__nome {
  font-size: 24px;
  color: var(--cor-texto);
}

.rodape {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}

.rodape__texto {
    font-family: var(--fonte-principal);
    font-size: 16px;
    color: var(--cor-texto);
}

.rodape__texto__link {
  color: var(--cor-texto);
}

.principal__pokemon {
  margin: 4rem auto;
  width: 67.50%;
  max-width: 1296px;
}

.pokemon__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.pokemon__container1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pokemon__container1__infos {
  display: flex;
  align-items: center;
  gap: 32px;
}

.pokemon__nome {
  font-size: 60px;
}

.pokemon__infos {
  display: flex;
  gap: 8px;

}

.pokemon__infos__altura {
  background-color: #521568;
  width: 156px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 8px;
}

.pokemon__infos__peso {
  background-color: #9871EB;
  width: 170px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 8px;
}

.pokemon__titulo {
  font-size: 24px;
  color: #F84D2E;
}

.pokemon__container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}

.pokemon__descricao{
  font-size: 24px;
  width: 1052px;
}

.pokemon__tipo {
  background-color: var(--cor-container);
  border-radius: 24px;
}

.tipo__titulo {
  font-size: 32px;
  margin: 16px 0 0 25.5px;
}

.tipo__container {
  display: flex;
  flex-direction: column;
  padding: 16px 25.5px;
  gap: 16px;
}

.tipo__container__tipo1 {
  background-color: #FF4422;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 68px;
  border-radius: 16px;
}

.tipo__container__tipo2 {
  background-color: #B65342;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 68px;
  border-radius: 16px;
}

.tipo1 {
  font-size: 24px;
}

.tipo2 {
  font-size: 24px;
}

.pokemon__container3 {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  align-items: center;
}

.pokemon__stats {
  background-color: var(--cor-container);
  padding: 2rem;
  border-radius: 24px;
  width: 526px;
  box-sizing: border-box;
}

.pokemon__stats__titulo {
  font-size: 36px;
}
 
.stats__lista {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
}

.stats__nome {
  opacity: 0.6;
}

.stats__valor {
  font-size: 32px;
}

.pokemon__evolutionLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon__evolutionLine__individual {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon__evolutionLine__name {
 font-size: 22px;  
}

